<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Success</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
		
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
				<img src="/images/gemini.jpg" alt="Gemini Bank Logo" class="mb-4" style="max-width: 150px;">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Thank You!</h4>
                    <p>Thank you for choosing Gemini Bank. We appreciate your trust and confidence in us. Rest assured, we are dedicated to serving your financial needs with the utmost care and commitment.</p>
                    <hr>
                    <p class="mb-0">Our team will process your application promptly. Should you have any questions or need further assistance, please feel free to contact us.</p>
                </div>
                <a th:href="@{/home}" class="btn btn-primary mt-3">Return to Home</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
